

.todo-list{
    display: flex;
    flex-direction: column;
}

.todo-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    background-color: lightgrey;
    color:black;
}

.todo-list li div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

input[type="checkbox"]{
    width: 24px;
    height: 24px;
    accent-color: green;
}

.completed{
    text-decoration: line-through;
}

.add-task{
    align-self: center;
    padding: 8px 16px;
    margin-top: 64px;
}

#todos{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#todos li:nth-child(even){
    background-color: darkgrey;
    color:black;

}